
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Customer</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Vidioten</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="kunder">Kunder <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="uthyrningar">Uthyrda Filmer</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filmer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="filmer">Alla</a>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Deckare</a>
                        <a class="dropdown-item" href="#">Drama</a>
                        <a class="dropdown-item" href="#">Komedi</a>
                        <a class="dropdown-item" href="#">Romantik</a>
                        <a class="dropdown-item" href="#">Thriller</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Sök" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sök</button>
            </form>
        </div>
    </nav>
</header>
<!--<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>-->
<body>
<h1 class="text-center">Filmer</h1>
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addMovie">Skapa film</button>
<!-- Modal -->
<div id="addMovie" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fyll i filmuppgifter</h4>
            </div>
            <div class="modal-body">
                <form th:object="${filmForm}" method="post">
                    <div class="form-group">
                        <label>Titel:</label>
                        <input th:value="*{namn}" name="namn" type="text" class="form-control"
                               id="namn">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('namn')}"
                              th:errors="*{namn}"></span>
                    </div>
                    <div class="form-group">
                        <label>Beskrivning:</label>
                        <input th:value="*{beskrivning}" name="beskrivning" type="text" class="form-control"
                               id="beskrivning">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('beskrivning')}"
                              th:errors="*{beskrivning}"></span>
                    </div>
                    <div class="form-group">
                        <label>Utgivningsdatum:</label>
                        <input th:value="*{utgivningsdatum}" name="utgivningsdatum" type="date" class="form-control"
                               id="utgivningsdatum">

                    </div>
                    <div class="form-group">
                        <label>Kategori:</label>
                        <input th:value="*{kategori}" name="kategori" type="text" class="form-control"
                               id="kategori">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('kategori')}"
                              th:errors="*{kategori}"></span>
                    </div>
                    <div class="form-group">
                        <label>Format:</label>
                        <input th:value="*{format}" name="format" type="text" class="form-control" id="format">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('format')}"
                              th:errors="*{format}"></span>
                    </div>
                    <button value="addFilm" type="submit" class="btn btn-default">Skapa film</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


    <div id="custom_main">
        <div id="add_custom">
        </div>
        <div id="custom_table">
            <table class="table table-hover">
                <tr>
                    <th>Produktnummer</th>
                    <th>Namn</th>
                    <th>Format</th>
                    <th>Uthyrd</th>
                </tr>
                <th:block th:each="film : ${filmer}">
                    <tr class="clickable" th:object="${film}">
                        <td th:text="*{produktnummer}"></td>
                        <td th:text="*{namn}"></td>
                        <td th:text="*{format}"></td>
                        <td th:switch="*{kund}">
                        <button th:case="NULL" class="btn btn-outline-primary" data-toggle="modal" th:data-target="'#rentmovie' + *{produktnummer}">Rent movie</button>
                            <form action="#" th:action= "@{/filmer/rent/} + *{produktnummer}" method="post">
                                <div class="modal" th:id="'rentmovie' + *{produktnummer}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label>Fyll i Personnummer:</label>
                                                    <input title="personnummer" name="personnummer" type="text" class="form-control" id="personnummer">
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary" type="submit">Rent movie</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <span th:case="*" th:text="*{kund.personnummer}"></span>
                        </td>
                        <td><a th:href="@{/filmer/byId/} + ${film.produktnummer}" class="btn btn-primary">Info</a></td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
